body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #181818;

    padding: 20px;
}


h2,h3,h4,h5 {
   
    font-weight: normal;
}

em,i {
    
  font-size: 20;
}
pre{    
    margin: 0%;
}